.navbarHeader {
    color: white;
    /* text-align: center; */
    padding-left: 10px;
}

.btnDiv {
    margin-top: 2px;
}

.btnDiv button {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    text-align: start;
    border: none;
    background-color: gray;
    color: white;
}

.btnDiv :hover {
    background-color: white;
    color: gray;
    cursor: pointer;
    border: 0.5px solid gray;
}

.focussedBtn button {
    background-color: white;
    color: gray;
    border: 0.5px solid gray;
}